target :'ruby5a.prod',   'johnd0@ruby5a.prod.biola.edu:/srv/rack/three-keepers',   rails_env: 'production'
target :'ruby5b.prod',   'johnd0@ruby5b.prod.biola.edu:/srv/rack/three-keepers',   rails_env: 'production'

env_scripts '/etc/profile'

rake :post_deploy, 'RAILS_RELATIVE_URL_ROOT=/accounts'
