/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require biola-frontend-toolkit
 *= require_tree .
 *= require_self
 */

html, body { min-height: 100%; }

#wrapperBiolaSubHeader { background-color: #f3f3f3; }
#biolaSubHeader { border-bottom: 1px solid #ddd; overflow-x: auto;
  #search_form {
    margin-top: 12px;
    input[type=search] { min-width: 300px; }
  }
  .overflow_wrapper { padding: 0; }
  .nav-main { font-size: 1.35em; font-weight: bold; clear: left;  display: block; list-style: none; margin: 0; padding: 0; font-family: 'proxima-nova',Helvetica,Arial,sans-serif; white-space: nowrap; }
  .nav-main li { display: inline-block; position: relative; margin-top: 0px; margin-left: 1.3em; padding: 15px 5px; }
  .nav-main li:first-child { margin-left: 0; }
  .nav-main li:last-child { margin-right: 1.3em }
  .nav-main li a { color: #333; border: 0 solid #3E4A66; text-decoration: none; font-weight: 300; }
  .nav-main li.active { border-bottom: 2px solid #CA4242; }
  .nav-main li.active > a { border-bottom-width: 0; font-weight: 500 }
}

#body { padding-bottom: 40px;
  .page-header { margin-top: 0; }
  h1.title, h2.title, h3.title { margin-top: 0; }
  .container-fluid.page { margin: 30px auto; }
}

div.pagination {
  display: block;
  text-align: center;
}
